.RC_Conatiner {
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: relative;
    width: 350px;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px rgba(48, 49, 51, 0.04), 0px 4px 8px rgba(48, 49, 51, 0.08);
    border-radius: 8px;
    margin: 10px 0 10px 10px;
    height: 250px;
    &:hover {
        background: #999;
    }
    .horizontal_line {
        position: relative;
        height: 2px;
        left: 10px;
        width: 90%;
        top: 5%;
        background: #E0E0E0;
    }

    .Upper_Section {
        display: flex;
        height: 72px px;
        flex-direction: column;
        background: beige;
        width: 100%;

        .title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 15px;
            color: #323232;
            padding-left: 15px;
        }

        .container {
            font-size: 1em;
            font-weight: 500;
        }

    }

    .Lower_Section {
        padding: 12px 0 0 0;
        display: flex;
        justify-content: space-between;

        .content {
            display: flex;
            flex-direction: column;
        }

        .title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #757575;
        }

        .description {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: black;
        }

    }

}